/*
CSS now done. Just need to add the functionality.
*/
body {
    background-color: rgb(58, 58, 58)
}

.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button {
    background-color: hsl(120, 47%, 54%);
}

/*Pseudoselector*/
.add-button:hover {
    background-color: hsl(120, 84%, 19%);
}

.delete-button {
    background-color: hsl(0, 67%, 55%);
}

.delete-button:hover {
    background-color: hsl(0, 71%, 29%);
}


.move-button {
    background-color: hsl(202, 67%, 55%);
}

.move-button:hover {
    background-color: hsl(202, 68%, 34%);
}

/*Select all input elements with type attribute of text*/
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}

ol {
    padding: 0; /*Deletes the numbers*/
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(0, 0%, 73%, 0.5);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

/*With flex: 1, you're essentially applying these 3 properties:
 - flex-grow: 1
 - flex-shrink: 1
 - flex-basis: 0%
 Essentially that element (e.g. text element, should now take as much space as possible)
*/
.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}